html,
body {
	height: 100%;
	font-family: 'Roboto-Regular';
	font-weight: 400;
	font-size: 14px;
	color: $text;
}

h2{
	font-size: 36px;
	color: $bg;
	font-weight: 700;
	text-align: center;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid{
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 720px){
	.container-fluid{
  padding: 0 15px;
}
}

a{
	display: inline-block;
	text-decoration: none;
	color: inherit;
}


.rate-star{
	margin-right: 13px;
}

