@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
    &__top {
        &-inner {
            display: flex;
            justify-content: space-between;
            height: 90px;
            align-items: center;
        }
    }
    &__text {
        margin-left: auto;
        font-size: 15px;
        margin-right: 30px;
        & a span {
            color: $red;
        }
    }
    &__menu {
        padding: 25px 0 25px;
        align-items: center;
        background-color: $bg;
        color: #fff;
    }
    &__btn {
        color: #fff;
        padding: 5px 21px 5px 21px;
        background-color: $green;
        border-radius: 5px;
    }
    &__btn + &__btn {
        background-color: $red;
    }
}
.menu {
    &__list {
        display: flex;
    }
    &__item {
        margin-right: 38px;
    }
}
.search {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 533px;
    color: #fff;
    text-align: center;
    padding: 155px 0 100px;
    &__inner {
        &-title {
            font-size: 48px;
            font-weight: 700;
            line-height: 72px;
            margin-bottom: 10px;
        }
        &-text {
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
        }
        &-form {
            position: relative;
            max-width: 670px;
            margin: 56px auto;
            input {
                display: block;
                width: 100%;
                box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
                border-radius: 4px;
                height: 56px;
                border: none;
                font-size: 14px;
                line-height: 30px;
                font-weight: 500;
                padding: 0 60px 0 26px;
                &::placeholder {
                    color: #90a4ae;
                }
            }
            button {
                position: absolute;
                border: none;
                background-color: transparent;
                right: 20px;
                top: 16px;
                height: 20px;
                width: 20px;
                background-image: url(../images/icons/search.png);
            }
        }
    }
}

.product {
    padding: 110px 0;
    background-color: #f4f6f5;
    &__inner {
        &-btn {
            text-align: center;
            margin-bottom: 60px;
            button {
                padding: 12px 21px;
                border: none;
                background-color: #fff;
                color: $bg;
                font-weight: 600;
                cursor: pointer;
                margin-top: 60px;
                & + button {
                    margin-left: 5px;
                }
            }
        }
    }
    &__item {
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        &-content {
            padding: 0px 30px;
            min-height: 90px;
            border-bottom: 1px solid #e7ecf2;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        max-width: 442px;
        width: 100%;
        // background-color: #fff;
        &-img {
            min-height: 250px;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        &-title {
            font-size: 18px;
            font-weight: 500;
            color: $bg;
            display: block;
            margin-bottom: 10px;
        }
        &-category {
            color: $green;
        }
        &-price {
            font-size: 20px;
            color: $bg;
            font-weight: 700;
        }
        &-info {
            padding: 0px 30px;
            min-height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-author {
            display: flex;
            align-items: center;
        }
    }
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 14px;
}
